<div class="ui bottom fixed menu">
    <div class="ui container">
        <div class="disabled item computer only">
            <p><strong>Developed by:</strong> Francis Oliver Avanceña</p>
        </div>
        <div class="right menu">
            <a href="https://linkedin.com/in/francisavancena" class="item" target="_blank">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="https://twitter.com/sicnarf_revilo" class="item" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>    
            <a href="https://linkedin.com/in/francisavancena" class="item" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/tripeersyou" class="item" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://dev.to/sicnarf_revilo" class="item" target="_blank">
                <i class="fab fa-dev"></i>
            </a>
            <div href="" class="item disabled">
                <p>&copy; {{ 'now' | date : '%Y'}}</p>
            </div>
        </div>
    </div>
</div>
