<a href="/" class="item">
    <i class="home icon"></i>
    Home
</a>
<a href="/projects" class="item">
    <i class="code icon"></i>
    Projects
</a>
<a href="/blog" class="item">
    <i class="archive icon"></i>
    Blog
</a>
<a href="/resume" class="item">
    <i class="id badge outline icon"></i>
    Résumé
</a>
<a href="/feed.xml" class="item">
    <i class="rss square icon"></i>
    RSS Feed
</a>
<div class="item theme-icon">
    <i class="moon icon theme-icon"></i>
    <span class="theme-icon">Dark Mode</span>
</div>