<h3 style="margin-top:0px">Share this article:</h3>
<div class="share-buttons">
    <a class="ui primary icon button" href="https://facebook.com/sharer.php?u={{ site.url}}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
        <i class="fab fa-facebook-square"></i> Facebook</a>
    <a class="ui blue icon button" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url}}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
        <i class="fab fa-twitter"></i> Twitter</a>
    <a class="ui primary icon button"href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url}}{{ page.url }}" rel="nofollow" target="_blank" title="Share on LinkedIn">
        <i class="fab fa-linkedin"></i> LinkedIn</a>
</div>