<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <link rel='manifest' href='/manifest.webmanifest'>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script defer src="https://www.googletagmanager.com/gtag/js?id=UA-144641660-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-144641660-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#fff">
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">
    <title>{{page.title}} | {{ site.title }}</title>
    {% seo title=false%}
    {% if page.cover_image == "" or page.cover_image == nil %}
        <meta property="og:image" content="/assets/img/favicon.png" />
    {% else %}
        <meta property="og:image" content="{{page.cover_image}}" />
    {% endif %}
    <link rel="preload" as="style" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="preload" as="style" href="https://use.fontawesome.com/releases/v5.4.0/css/all.css">
    <link rel="preload" as="style" href="/assets/css/application.css">
    <link rel="preload" as="style" href="/assets/css/syntax.css">
    <link rel="preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.0/css/all.css">
    <link rel="stylesheet" href="/assets/css/application.css">
    <link rel="stylesheet" href="/assets/css/syntax.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" integrity="sha256-PHcOkPmOshsMBC+vtJdVr5Mwb7r0LkSVJPlPrp/IMpU=" crossorigin="anonymous" />
    <script defer src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha256-z6FznuNG1jo9PP3/jBjL6P3tvLMtSwiVAowZPOgo56U=" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js" integrity="sha256-iM4Yzi/zLj/IshPWMC1IluRxTtRjMqjPGd97TZ9yYpU=" crossorigin="anonymous" charset="utf-8"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/zooming/2.1.1/zooming.min.js" integrity="sha256-bQf05b7xzy7T5X1vhGqX1sgan7X3GMKftAbuPj0wRew=" crossorigin="anonymous"></script>
    <script defer src="/assets/js/shake.js"></script>
    <script defer src="/assets/js/application.js"></script>
    <script defer src="/assets/js/permissions.js"></script>
    <script>
        if ("serviceWorker" in navigator) {
            if (navigator.serviceWorker.controller) {
                console.log("Active service worker found, no need to register");
            } else {
                navigator.serviceWorker
                .register("/service-worker.js", {
                    scope: "./"
                })
                .then(function (reg) {
                    console.log("Service worker has been registered for scope: " + reg.scope);
                });
            }
        }
    </script>
</head>
<body>
    <div class="ui labeled icon sidebar vertical menu">
        {% include navigation.html %}
    </div>
    <div class="pusher">
        {% include menu.html %}
        <div class="ui container content">
            {{content}}
        </div>
        {% if page.title != "Home" %}
            {% include footer.html %}
        {% endif %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                new WOW().init();                
            });
        </script>
    </div>
</body>
</html>