---
layout: default
---

<div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <i class="right angle icon divider"></i>
    <a href="/blog/" class="section">Blog</a>
    <i class="right angle icon divider"></i>
    <div class="active section">{{page.title}}</div>
</div>



<h1 class="post-title">{{page.title}}</h1>
<small>{{page.date | date_to_string}}</small>
{% if page.cover_image != nil %}
<hr>
<img src="{{page.cover_image}}" class="ui image centered rounded">
<hr>
{% else %}
<hr>
{% endif %}
{{content}}